<%- model_class = Page -%>

<table class="table">
  <thead>
    <tr>
      
      <th>
        <%= link_to "Download list", pages_path(type: params[:type],format: "csv") %>
        <%= will_paginate @pages, :page_links => false %>      
      </th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td style="min-width: 300px; max-width: 600px; overflow: hidden; text-overflow: ellipsis;"><%= link_to page.url, page.url %></td>
        <td class="span3"><%= page.status %></td>
        <td class="span3">
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_page_path(page) %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      page_path(page),
                      :method => :delete %>
                      <%= link_to 'Retest', new_testrun_path(type: 'single_page', id: page.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>  <%= page_entries_info @pages %></p>
<p><%= will_paginate @pages, :container => false %></p>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_page_path,
            :class => 'btn btn-primary' %>
