<h1>Listing pages</h1>

<table style="table-layout:fixed;">
  <thead>
    <tr>
      <th>Url</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td style="min-width: 300px; max-width: 600px; overflow: hidden; text-overflow: ellipsis;">
          <%= link_to page.url, page.url %>
        </td>
        <td><%= page.status %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
