<%= form_for @testrun, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :passed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :passed, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :failed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :failed, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                testruns_path, :class => 'btn' %>
  </div>
<% end %>
